<lib-muk-dynamic-form
  [fields]="fields"
  [buttons]="buttons"
  [alignButtons]="alignButtons"
  (onSubmit)="onSubmit($event)"
  (onClose)="onClose($event)"
></lib-muk-dynamic-form>
<lib-muk-alert [alert]="alert"></lib-muk-alert>
<lib-muk-cards [cardData]="cardData">
  <ng-template content>
    <div class="card-content">
      <div class="card-content-title">{{cardData.title}}</div>
      <div class="card-content-subtitle">{{cardData.subtitle}}</div>
    </div>
  </ng-template>
</lib-muk-cards>
